if SHIELD_CORNEC_LEFT

config ZMK_KEYBOARD_NAME
    default "cornec"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CORNEC_LEFT || SHIELD_CORNEC_RIGHT

config ZMK_SPLIT
    default y

endif
